
:root{
  --color-secundario: #E2E2E2;
  --color-terciario: #50738369;
  --color-letra: #161515;
  --color-boton: #50738369;
  --color-boton-foco: #5aa4bbb2;
}

input {
  width: 100%;
  background-color: var(--color-boton-foco);
  color: var(--color-letra);
  border-radius: 15px;
  margin: 5px;
}

@media only screen and (min-width: 992px) { 
  input {
    width: 50%;
  }
}

span {
  color: red;
  font-size: small;
}

