@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);

.imgError {
	column-count: 2;
	width: 100%;
	height: auto;
	text-align: center;

}

.title {
  font-size: 40px ;
  font-size: auto;
  margin-top:336px;
  color: #8093B8;
  padding-top: 200px;
}

.volver {
    background-color: transparent;
	border-radius: 20px;
	border: 1px ridge #8093B8;
	font-size: 18px;
	text-decoration: none;
	padding: 6px;
	margin-right: 20px;
	color: #8093B8;
	cursor: pointer;
}

.volver:hover {
	background-color: #8093B8;
	color: #ffffff;
}

@media screen and (max-width:1400px) {
	.imgError {
		width: 100%;
		text-align: center;
	}
	.title{
		margin-top: -150px;
	}	
}
@media screen and (max-width:874px){
	.imgError {
		column-count: 1;
		margin: 1px;
		padding: 1px;
	}
} 
a{
	text-decoration: none;
	color: #8093B8;
}

a:hover{
	color: #e4e6e9;
}